.App {
  text-align: left;
  margin-top: 20px;
}

.header {
  background-color: #282c34;
  max-width: 1500px;
  height: 25px;
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.CodeMirror * {
  font-family: Consolas;
  font-size: 20px;
}

.Run {
  width: 100px;
  height: 50px;
}

.Output {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}
